body {
  background-color: aquamarine;
}

.players {
  width: 900px;
  background-color: #ff0000;
  padding: 30px;
  margin: auto;
  display: flex;
  justify-content: start;
  border-radius: 20px;
}
